*{
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 139px;
    height: 60px;
}
header ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
header li{
    font-size: 16px;
}
.btn-primary{
    font-size: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    background-color: #30B868;

}