*{
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
    display: flex;
    padding: 16px 120px;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 139px;
    height: 60px;
}
header ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
header li{
    font-size: 16px;
}
.btn-primary{
    font-size: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    background-color: #30B868;

}
.btn-secondary{
    font-size: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: none;
}
img{
    vertical-align: middle;
}

/* .hero{
    background-color: ;
} */

.hero .top{
    background: url(./assets/hero-bg.png);
    color: #FFFFFF;
    text-align: center;
    width: 1600px;
    height: 674px;
    padding: 115.5px 120px 179.5px 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .top .early{
    background-color: white;
    color: #30B868;
    padding: 8px 12px;
    width: 229px;
    border-radius: 1000px;
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
    align-content: center;
    justify-content: center;
}
.hero .top .early img{
    width: 16px;
    height: 16px;
}
.hero .top .h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}
.hero .top .h1 .green{
    color: #30B868;
}
.hero .top .details{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}
.hero .top .btn-container{
    display: flex;
    gap: 16px;
}
.hero .top .btn-container .btn-secondary img{
    height: 16px;
    width: 16px;
}
.hero .bottom{
    text-align: center;
}
.hero .bottom .h2{
    color: #001931;
    font-weight: bold;
    font-size: 48px;
    margin-top: 50px;
}
.hero .bottom .btm-details{
    color: #627382;
    font-size: 16px;
    padding-top: 16px;
}
.hero .bottom .card-container{
    display: flex;
    margin: 44px 120px;
    padding-bottom: 20px;
    border-radius: 8px;
    gap: 24px;
}
.hero .bottom .card-container .img-container{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 16px;
}
.hero .bottom .card-container .card{
    background-color: #FFFFFF;
    padding: 70px 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: #010101;
}
.hero .bottom .card-container .card .h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
.hero .bottom .card-container .card .p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}
.knowledge{
    padding: 120px;
    display: flex;
    gap: 60px;
    align-items: center;
}
.knowledge .left img{
    border-radius: 12px;
}
.knowledge .right .pretext{
    font-size: 16px;
    color: #03B868;
    margin-bottom: 16px;
}
.knowledge .right h1{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px;
}
.knowledge .right p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.knowledge .right li{
    list-style: none;
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
}
.knowledge .right .li::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/CheckCircle.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 6px;
    vertical-align: middle;
}
.clr{
    margin: 2px 120px 0px 120px;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px 40px;
}
.clr h2{
    font-weight: bold;
    color: #001931;
    font-size: 40px;
}
.clr p{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}